# ---------------- ASP.NET ----------------
ASPNETCORE_URLS=http://+:8080
ASPNETCORE_ENVIRONMENT=Development

# ---------------- PostgreSQL (Docker service) ----------------
POSTGRES_USER=postgres
POSTGRES_PASSWORD=YOUR_POSTGRES_PASSWORD_HERE
APP_DB_CONNECTION=Host=postgres;Port=5432;Database=ReservationDb;Username=postgres;Password=YOUR_POSTGRES_PASSWORD_HERE;

# ---------------- Redis ----------------
REDIS_CONNECTION=redis:6379

# ---------------- RabbitMQ ----------------
RABBITMQ_CONNECTION=rabbitmq://guest:guest@rabbitmq

# ---------------- Keycloak ----------------
KEYCLOAK_AUTHORITY=http://keycloak:8080/realms/keycloak-demo
KEYCLOAK_METADATA=http://keycloak:8080/realms/keycloak-demo/.well-known/openid-configuration
KEYCLOAK_CLIENT_ID=heavyreserve-api
KEYCLOAK_AUDIENCE=account
KEYCLOAK_ISSUER=http://keycloak:8080/realms/keycloak-demo
KEYCLOAK_ADMIN=admin
KEYCLOAK_ADMIN_PASSWORD=YOUR_KEYCLOAK_ADMIN_PASSWORD_HERE

# ---------------- New Relic ----------------
NEW_RELIC_APP_NAME=High-Concurrency-Reservation-Engine
NEW_RELIC_LICENSE_KEY=YOUR_NEW_RELIC_LICENSE_KEY_HERE
NEW_RELIC_DISTRIBUTED_TRACING_ENABLED=true

# .NET CLR profiler settings for New Relic
CORECLR_ENABLE_PROFILING=1
CORECLR_PROFILER={36032161-FFC0-4B61-B559-F6C5D41BAE5A}
CORECLR_NEWRELIC_HOME=/usr/local/newrelic-dotnet-agent
CORECLR_PROFILER_PATH=/usr/local/newrelic-dotnet-agent/libNewRelicProfiler.so